body {
    margin: 0;
    padding: 0;
}

.body {
    background-color: #EDEDED;
}

.content {
    width: 66%;
    margin: 0 auto;
    padding: 25px 120px 80px 120px;
    background-color: #EDEDED;
}

.header {
    font-size: 25px;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #CBCBCB;
    background-color: #F7F7F7;
    box-shadow: 0 2px 1px #9D9D9D;
    border-radius: 10px;
    float: right;

}

li {
    border-right: 0.5px solid #CBCBCB;
    background-color: #F7F7F7;
    list-style-type: none;
    margin: 3px 0;
}

nav {
    margin-top: 20px;
}

li:last-child {
    border-right: none;
    border-radius: 10px;

}

li:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

li:nth-child(2) {
    background-color: rgba(19, 5, 42, 0.14);
}

a {
    margin: 0 20px;
    text-decoration: none;
    font-size: 18px;
}

a:visited {
    color: black;
}

.picture_area {
    margin-top: 50px;
    height: auto;
    background-color: white;
    border: 1px solid #CBCBCB;
    box-shadow: 0 2px 1px #9D9D9D;
    border-radius: 5px;
    padding: 10px;
}

.show_picture {
    height: 450px;
    background-color: #828082;

}

.xth_picture {
    display: inline-flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #D7D7D7;
    margin: 10px 0 0 0;
}

.xth_picture:nth-child(3) {
    background-color: #828082;
}

.prev_pointer_div {
    float: right;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #828082;
    margin: 10px 0 0 0;
    text-align: center;
}

.next_pointer_div {
    float: right;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #D7D7D7;
    margin: 10px 0 0 0;
    text-align: center;
}

span {
    color: white;
}

p {
    font-size: 27px;
    color: #787678;
}

.set_margin {
    margin: 70px 0;
}

.services {
    margin-bottom: 100px;
}

.services div {
    margin: 0;
    padding: 0 15px;
}

.size {
    width: 25%;
    text-align: center;

}

.text_size {
    font-size: 18px;
    color: #787678;
}

.size a {
    border: 1px solid #CBCBCB;
    background-color: #F7F7F7;
    box-shadow: 0 2px 1px #9D9D9D;
    border-radius: 5px;
    padding: 5px;

}

h3 {
    margin: 0;
    font-size: 20px;
}

.set_flex {
    margin: 0;
    padding: 0;
    display: flex;
}

.subheader img {
    width: 30px;
    padding: 3px;
}

h2 {
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.subheader {
    display: flex;
    align-items: flex-end;
}

.set_size {
    width: 50%;
}

.square_space {
    width: 20%;
    height: 120px;
    margin: 15px 5px;
    background-color: white;
    border-radius: 10px;
    padding: 8px;
}

.pic_spase {
    height: 120px;
    background-color: #787678;
}

.area {
    display: flex;
    flex-wrap: wrap;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 5px black inset;
}

.content_footer {
    width: 66%;
    margin: 0 auto;
    padding: 25px 120px 80px 120px;
    display: flex;
}

.checkbox {
    width: 25%;
    margin-right: 70px;
}

.checkbox .subheader h2 {
    color: #787678;
}

.checkbox .subheader {
    margin-top: 20px;
}

.checkbox .subheader p {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.checkbox .subheader img {
    width: 20px;
    height: 20px;

}

.free_space {
    width: 200%;
    height: 150px;

}

.tooltip img {
    position: relative;
    left: 300%;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.setcolorgreen {
    color: rgba(83, 192, 39, 0.85);
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 400px;
    background-color: #555;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    padding: 5px 15px;
    position: absolute;
    bottom: 100px;
    left: 100px;
}

.tooltiptext a {
    color: rgba(83, 192, 39, 0.85);
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.5;
}



